<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>照片浏览Demo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CD0CB8AF1D06FDC400A94919</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CD0CB8C81D06FDC400A94919</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CD0CB8D31D06FDC400A94919</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
